/* Variables  */
:root {
  --main-color: #2196f3;
  --non-decoration: none;
  --back-color: rgb(251, 245, 245);
  --back-section: #eae9e9;
  --z-index: 333;
  --green: green;
  --white: white;
  --red: red;
}
/* End Variables */
/* Stat global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
  /* overflow-x: hidden; */
}
ul {
  list-style: none;
}
.container {
  padding: 0 15px 0;
  margin: 0 auto 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */
/* Start Header */
header {
}
header .container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
}
header .container .logo {
  color: var(--main-color);
}
header .container nav {
  /* position: relative; */
  /* position: absolute;
  top: 60px; */
}
header .container nav ul {
  display: flex;
}
header .container nav ul li.Navmenu {
  position: relative;
}
header .container ul li.Navmenu:last-child:hover,
header .container .dropM {
  /* display: block;
  visibility: visible; */
}
header .container nav ul li.Navmenu::before {
  position: absolute;
  content: '';
  border: 0px solid var(--main-color);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  top: -10px;
  left: 0;
  transition: 0.4s;
}
header .container ul li.Navmenu a {
  color: black;
  text-decoration: var(--non-decoration);
  padding: 0 10px 0;
  transition: 0.4s;
}
header .container ul li.Navmenu:hover::before {
  width: 100%;
}
header .container ul li.Navmenu:hover a {
  background-color: var(--back-color);
  color: var(--main-color);
}
header .container nav ul li.Navmenu:last-child:hover,
header .container .dropM {
  display: block;
}

header .container .dropM {
  position: absolute;
  left: 0;
  top: 110px;
  width: 100%;
  height: 80vh;
  border-bottom: 4px solid var(--main-color);
  z-index: 999;
  display: none;
}

header .container .dropM .allIn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
@media (max-width: 992px) {
  header .container .dropM .img {
    display: none;
  }
}
@media (min-width: 768px) {
  header .container .dropM {
    display: flex;
    height: 42vh;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
  }

  header .container .dropM .inside_dropM:not(:last-child) {
    width: 44%;
  }
}
@media (min-width: 992px) {
  header .container .dropM .img {
    width: 350px;
  }
  header .container .dropM img {
    max-width: 100%;
  }
  header .container .dropM .allIn {
    display: grid;
    grid-template-columns: repeat(2, 255px);
  }
  header .container .dropM .inside_dropM:not(:last-child) {
    width: 84%;
  }
}
@media (min-width: 1170px) {
  header .container .dropM .img {
    width: 420px;
  }
}
header .container .dropM .inside_dropM {
  padding: 23px 0 0px 15px;
  font-size: 22px;
  color: var(--main-color);
  cursor: pointer;
}
header .container .dropM .inside_dropM:hover {
  background-color: var(--back-color);
}
header .container ul.dropM .inside_dropM div {
  padding: 10px 0px 15px 0px;
}

/* header .container .dropM .inside_dropM:not(:nth-child(5)) {
  border: none;
} */
header .container .dropM .inside_dropM:not(:nth-child(10)) {
  border-bottom: 1px solid rgb(236, 231, 231);
}

header .container .dropM .inside_dropM a {
  text-decoration: none;
  color: var(--main-color);
  padding: 5px;
}
/* End Header */

/* Start content */
.content {
  display: flex;
  height: 70vh;
  margin-top: 12px;
  background-color: var(--back-section);
  position: relative;
}
.content::before {
  content: '';
  position: absolute;
}
.content::after {
  content: '';
  position: absolute;
  transform: skew(0, -6.7deg);
  transform-origin: bottom right;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
}
@media (min-width: 992px) {
  .content {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
  }
}
.content .container {
  display: flex;
  align-items: center;
}

.content .container .text {
  display: flex;
  flex: 1;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 70%;
  /* padding-left: 40px; */
}
.content .text h1 {
  font-size: 38px;
}
.content .text p {
  font-size: 21px;
  line-height: 34px;
  font-weight: 500;
  color: #6c6a6a;
}
@media (max-width: 991px) {
  .content .text {
  }
  .content .text h1 {
    font-size: 35px;
    font-weight: bold;
    align-self: center;
  }
  .content .text p {
    font-size: 28px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    /* padding: 0 21px; */
  }
}
@media (max-width: 768px) {
  .content .text {
    padding-left: 0;
  }
  .content .text h1 {
    font-size: 25px;
  }
  .content .text p {
    font-size: 20px;
    padding: 0 21px;
  }
}

.content .image {
  width: 575px;
}
@media (max-width: 991px) {
  .content .image {
    display: none;
  }
}
.content .image img {
  max-width: 100%;
  animation: upDownImg 3s cubic-bezier(0.65, 0.05, 0.36, 1) alternate infinite;
}
@keyframes upDownImg {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(0px);
  }
}
/* End content */
/* Start arrowDown */
.arrowDown {
  /* display: flex;
  justify-content: center;
  margin: 95px 0 0 0; */
  margin: 95px auto 0;
  width: fit-content;
}
.arrowDown a {
  /* animation: arrowDown 0.7s infinite 0.4s alternate; */
  animation-name: arrowDown;
  animation-duration: 0.7s;
  /* animation-timing-function: cubic-bezier(0.13, -0.46, 0.76, -0.51); */
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-decoration: none;
}
@keyframes arrowDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* End arrowdown */
/* Start cards */
section.cards {
}
section.cards .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.cards .container .button,
section.gallery .container .button,
section.features .container .button,
section.testimonials .container .button,
section.team .container .button,
section.services .container .button,
section.ourSkills .container .button,
section.HowItWorks .container .button,
section.latestEvent .container .button,
section.pricing .container .button,
section.topvideos .container .button {
  margin: 40px auto;
  border: 2px solid black;
  text-align: center;
  width: fit-content;
  padding: 13px 40px;
  text-transform: uppercase;
  /* cursor: pointer; */
  position: relative;
  font-weight: bold;
  cursor: auto;
}
section.cards .container .button::before,
section.gallery .container .button::before,
section.features .container .button::before,
section.testimonials .container .button::before,
section.team .container .button::before,
section.services .container .button::before,
section.ourSkills .container .button::before,
section.HowItWorks .container .button::before,
section.latestEvent .container .button::before,
section.pricing .container .button::before,
section.topvideos .container .button::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 20px;
  left: -30px;
  cursor: auto;
}
section.cards .container .button::after,
section.gallery .container .button::after,
section.features .container .button::after,
section.testimonials .container .button::after,
section.team .container .button::after,
section.services .container .button::after,
section.ourSkills .container .button::after,
section.HowItWorks .container .button::after,
section.latestEvent .container .button::after,
section.pricing .container .button::after,
section.topvideos .container .button::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 20px;
  right: -30px;
}
section.cards .container .button a,
section.gallery .container .button a,
section.features .container .button a,
section.testimonials .container .button a,
section.team .container .button a,
section.services .container .button a,
section.ourSkills .container .button a,
section.HowItWorks .container .button a,
section.latestEvent .container .button a,
section.pricing .container .button a,
section.topvideos .container .button a {
  color: black;
  text-decoration: none;
  font-size: x-large;
}
section.cards .container .cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(285px, 1fr));
  gap: 25px 0px;
}
section.cards .container .cards .card {
  width: 253px;
  height: 395px;
  border: 1px solid #f0e6e6b3;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
section.cards .container .cards .card .info p {
  font-size: 14px;
  color: #8e8e8e;
}
section.cards .container .cards .card .container {
  max-width: 100%;
  flex: 1;
  align-items: start;
}
@media (max-width: 1199px) {
  section.cards .container .cards {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 2rem;
  }
  section.cards .container .cards .card {
  }
}
@media (max-width: 991px) {
  section.cards .container .cards {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 3rem;
  }
  section.cards .container .cards .card {
  }
}
@media (max-width: 768px) {
  section.cards .container .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  section.cards .container .cards .card {
  }
}
@media (max-width: 587px) {
  section.cards .container .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  section.cards .container .cards .card {
    width: 100%;
    height: 87%;
    margin: 0 0 5.5rem;
  }
  section.cards .container .cards .card .info {
  }
  section.cards .container .cards .card .more {
  }
}
@media (max-width: 300px) {
  section.cards .container .cards {
  }
  section.cards .container .cards .card {
    width: 250px;
  }
  section.cards .container .cards .card .info {
  }
  section.cards .container .cards .card .more {
  }
}
section.cards .container .cards .card:hover {
}
section.cards .container .cards .card .image {
}
section.cards .container .cards .card .image img {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
section.cards .container .cards .card .info {
  line-height: 1.5;
  flex: 2;
  border-bottom: 1px solid #d7cfcf;
  /* margin-bottom: 90px; */
  /* position: relative; */
  padding: 15px 8px;
}
/* article .container .cards .card .info::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
}
article .container .cards .card .info::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
} */
section.cards .container .cards .card .more {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 16px 13px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  align-self: normal;

  /* height: calc(100% - 268px); */
}
section.cards .container .cards .card .more a {
  text-decoration: none;
  color: var(--main-color);
}
section.cards .container .cards .card .more i {
  color: var(--main-color);
}
/* End cards */
/* Start Gallery */
.gallery,
.services {
  background-color: var(--back-section);
  position: relative;
}
.gallery::before,
.services::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: inherit;
  position: absolute;

  background: linear-gradient(
      -45deg,
      var(--back-section) 16px,
      #e1e1e1 16px,
      transparent 0
    ),
    linear-gradient(45deg, var(--back-section) 16px, transparent 0);
  background-position: right top;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  top: -32px;
}

.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
section.gallery .container .button,
section.features .container .featuresBox .feature .info .button {
  top: 6rem;
}
.gallery .container .cards2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-gap: 40px 40px;
  margin-top: 10rem;
  margin: 6rem 40px;
}
@media (max-width: 1199px) {
  .gallery .container .cards2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery .container .cards2 .card2 .conImg {
    width: 470px;
    height: 470px;
  }
}

.gallery .container .cards2 .card2 {
}
.gallery .container .cards2 .card2 .conImg {
  background-color: #fff;
  width: calc(100% + 10px);
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .gallery .container .cards2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery .container .cards2 .card2 .conImg {
    /* width: 100%;
    height: 100%; */
    margin: 30px auto;
  }
}
.gallery .container .cards2 .card2 .conImg .image {
}
.gallery .container .cards2 .card2 .conImg .image img {
  /* max-width: 100%;
  max-height: 100%; */
  display: block;
  margin: auto;
  width: 320px;
}
/* End Gallery */
/* Start Features */
.features {
}
.features .container {
}
.features .container .featuresBox {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  margin: 5rem auto;
}
@media (max-width: 1199px) {
  .features .container .featuresBox {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 63px;
  }
}
@media (max-width: 991px) {
  .features .container .featuresBox {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 63px;
  }
}
.features .container .featuresBox .feature {
  /* height: 50rem; */
  position: relative;
  border: 1px solid #c1c1c1;
}
@media (max-width: 1199px) {
  .features .container .featuresBox .feature {
    /* height: 775px; */
  }
}
@media (max-width: 991px) {
  .features .container .featuresBox .feature {
    width: 702px;
    /* height: 55rem; */
  }
}
@media (max-width: 767px) {
  .features .container .featuresBox .feature {
    width: 100%;
    /* height: 45rem; */
  }
}
@media (max-width: 300px) {
  .features .container .featuresBox .feature {
    width: 266px;
    /* height: 35rem; */
  }
}
.features .container .featuresBox .feature .img {
  /* width: 365px; */
  width: 100%;
}
.features .container .featuresBox .feature .img img {
  max-width: 100%;
}
@media (max-width: 1199px) {
  .features .container .featuresBox .feature .img {
  }
  .features .container .featuresBox .feature .img img {
  }
}
.features .container .featuresBox .feature .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  /* height: calc(100% - 370px); */
  /* position: absolute; */
  /* z-index: 333; */
  /* top: 20rem; */
  position: relative;
  margin-bottom: 2rem;
}
.features .container .featuresBox .feature .info::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--white);
  top: -80px;
  left: 0;
  z-index: 1;
  transform: skew(0deg, -15deg);
}
@media (max-width: 991px) {
  .features .container .featuresBox .feature .info::before {
    top: -130px;
  }
}
.features .container .featuresBox .feature .info .header {
  font-size: 41px;
  position: relative;
  margin-bottom: 40px;
  z-index: var(--z-index);
}
.features .container .featuresBox .feature .info .header::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 82%;
  background-color: var(--red);
  top: 60px;
  left: 12px;
  z-index: var(--z-index);
}
.features .container .featuresBox .feature:nth-child(2) .info .header::before {
  background-color: var(--green);
  z-index: var(--z-index);
}
.features .container .featuresBox .feature:nth-child(3) .info .header::before {
  background-color: var(--main-color);
  z-index: var(--z-index);
}
.features .container .featuresBox .feature .info .text {
  text-align: center;
  z-index: 333;
}
.features .container .featuresBox .feature .info .text .des {
  line-height: 1.9;
  font-size: 20px;
  font-weight: 500;
  color: #6c6a6a;
  z-index: var(--z-index);
}
.features .container .featuresBox .feature .info button {
  width: fit-content;
  z-index: var(--z-index);
  padding: 10px 33px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  outline: none;
  border: 3px solid var(--red);
  border-radius: 7px;
  color: var(--red);
  background-color: var(--white);
}
.features .container .featuresBox .feature:nth-child(2) .info button {
  border: 3px solid var(--green);
  color: var(--green);
}
.features .container .featuresBox .feature:nth-child(3) .info button {
  border: 3px solid var(--main-color);
  color: var(--main-color);
}
.features .container .featuresBox .feature:nth-child(2) .info button {
}
.features .container .featuresBox .feature:nth-child(3) .info button {
}
/* end Features */
/* Start Testimonials  */
.testimonials {
  background-color: var(--back-section);
  /* height: 100vh; */
  /* width: 112vw; */
  /* padding: 3rem 0 0 0; */
  margin: 5rem auto;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.testimonials .container {
}
.testimonials .container .button {
}
.testimonials .container .button a {
}
.testimonials .container .info {
}
.testimonials .container .info .container1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  /* margin: 5rem auto auto auto; */
  grid-gap: 1rem 3rem;
  padding: 3rem 0;
}
.testimonials .container .info .container1 .testInfo {
  background-color: var(--white);
  width: 350px;
  /* height: 215px; */
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 17px;
}
@media (max-width: 1199px) {
  .testimonials .container .info .container1 {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
  .testimonials .container .info .container1 .testInfo {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .testimonials .container .info .container1 {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media (max-width: 669px) {
  .testimonials .container .info .container1 {
    grid-template-columns: repeat(1, minmax(350px, 1fr));
  }
}
.testimonials .container .info .container1 .testInfo .imgage {
  position: relative;
}
.testimonials .container .info .container1 .testInfo .imgage .bgimg {
  /* display: none; just now */
  position: absolute;
  background-color: var(--back-section);
  right: 0;
  top: -70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: -25px;
}
.testimonials .container .info .container1 .testInfo .imgage .bgimg img {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.testimonials .container .info .des {
}
.testimonials .container .info .des h1 {
  font-size: 1.5em !important;
}
.testimonials .container .info .des h4 {
  font-size: 16px;
  color: #6c6a6a;
  padding-top: 5px;
}
.testimonials .container .info .des .stars {
  padding: 10px 0;
}
.testimonials .container .info .des .stars .gold::before {
  color: goldenrod;
}
.testimonials .container .info .des .textInfo {
  line-height: 1.6;
  color: #6c6a6a;
}

/* End Testimonials  */

/* Start TeamMembers */
.team {
}
.team .container {
}
.team .container .button {
}
.team .container .team_box {
  display: grid;
  grid-template-columns: repeat(3, minmax(380px, 1fr));
  position: relative;
  margin-top: 5rem;
}
.team .container .team_box .team_box_parent {
  width: 289px;
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 446px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  margin-left: 3.5rem;
}
.team .container .team_box .team_box_parent .team_box_image {
  display: flex;
  justify-content: flex-end;
}
.team .container .team_box .team_box_parent .team_box_image .position {
  /* position: absolute;
  left: -60px;
  top: 60px; */
}
.team .container .team_box .team_box_parent .team_box_image .image {
}
.team .container .team_box .team_box_parent .team_box_image .image img {
  width: 290px;
  border-radius: 10px;
}
@media (max-width: 1199px) {
  .team .container .team_box {
    grid-template-columns: repeat(2, minmax(380px, 1fr));
    grid-gap: 0rem 5rem;
  }
  .team .container .team_box .team_box_parent {
    width: 375px;
    height: 540px;
  }
  .team .container .team_box .team_box_parent .team_box_image .image img {
    width: 379px;
  }
}
@media (max-width: 991px) {
  .team .container .team_box {
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 0rem 0rem;
  }
  .team .container .team_box .team_box_parent {
    width: 284px;
    height: 422px;
  }
  .team .container .team_box .team_box_parent .team_box_image .image img {
    width: 287px;
  }
}
@media (max-width: 767px) {
  .team .container .team_box {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 0rem 0rem;
  }
  .team .container .team_box .team_box_parent {
    width: 269px;
    height: 422px;
  }
  .team .container .team_box .team_box_parent .team_box_image .image img {
    width: 256px;
  }
}
@media (max-width: 659px) {
  .team .container .team_box {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .team .container .team_box .team_box_parent {
    width: 569px;
    height: 698px;
    margin-bottom: 1.5rem;
  }
  .team .container .team_box .team_box_parent .team_box_image .image img {
    width: 559px;
  }
}
/* @media screen and (width < 644px) {
  .team .container .team_box {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .team .container .team_box .team_box_parent {
    width: 569px;
    height: 698px;
    margin-bottom: 1.5rem;
  }
  .team .container .team_box .team_box_parent .team_box_image .image img {
    width: 559px;
  }
} */
.team .container .team_box .team_box_parent .team_box_image .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 1rem;
}
.team .container .team_box .team_box_parent .team_box_image .social a {
  margin-bottom: 2rem;
}
.team .container .team_box .team_box_parent .team_box_image .social a i {
  font-size: 19px;
  color: #8c8a8a;
}
.team .container .team_box .team_box_parent .text {
  position: relative;
}
.team .container .team_box .team_box_parent .text .underText {
  position: absolute;
  left: 5px;
  top: 1rem;
}

.team .container .team_box .team_box_parent .text .underText h2 {
  text-transform: capitalize;
  color: var(--main-color);
}
.team .container .team_box .team_box_parent .text .underText p {
}

/* End TeamMembers */
/* Start Services */
.services {
  /* height: 100vh; */
  padding: 3rem 0 5rem;
}
.services .container {
}
.services .container .button {
  margin-bottom: 5rem !important;
}
.services .container .button a {
}
.services .container .service {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-gap: 2rem 3rem;
}
@media (max-width: 1199px) {
  .services .container .service {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
}
@media (max-width: 992px) {
  .services .container .service {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media (max-width: 659px) {
  .services .container .service {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
/* accent-color: red; */
.services .container .service .serv {
  height: 237px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 2px 2px 6px 4px rgba(206, 206, 206, 0.62);
  box-shadow: 2px 2px 6px 4px rgba(206, 206, 206, 0.62);
}
.services .container .service .serv .font_image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}
.services .container .service .serv .font_image .center {
}
.services .container .service .serv .font_image .center i {
  color: #d5d5d5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .service .serv .font_image .center p {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main-color);
}
.services .container .service .serv .serv_footer {
  display: flex;
  flex: 0.5;
  justify-content: space-between;
  align-items: center;
  z-index: var(--z-index);
  background-color: #fff5f5;
}
.services .container .service .serv .serv_footer .left {
  position: relative;
  width: 10rem;
  height: 100%;
}
.services .container .service .serv .serv_footer .left::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d7d5d5;
  content: '';
  clip-path: polygon(0px 0px, 99.68% -2.11%, 124px 106.33%, 0% 100%);
}
.services .container .service .serv .serv_footer .left::after {
  content: '';
  width: 63%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--main-color);
  clip-path: polygon(0px 0px, 99.68% -2.11%, 70px 97.89%, 0% 100%);
  /* transform: skew(-8deg, 0);
  transform-origin: bottom right; */
}
.services .container .service .serv .serv_footer .left p {
  z-index: var(--z-index);
  color: var(--white);
  position: absolute;
  transform: translate(75%, 15%);
  font-size: 1.8rem;
  font-weight: bold;
}
.services .container .service .serv .serv_footer .right {
}
.services .container .service .serv .serv_footer .right a {
  padding: 0 15px 0;
  text-decoration: none;
  color: var(--main-color);
}

/* End Services */
/* Start skills */
.ourSkills {
}
.ourSkills .container {
}
.ourSkills .container .button {
  margin-bottom: 7rem !important;
  margin-top: 6rem !important;
}
.ourSkills .container .conten {
  display: flex;
  /* grid-template-columns: repeat(2, minmax(300px, 1fr)); */
  margin-bottom: 3rem;
}
.ourSkills .container .conten .image {
  /* width: 90%; */
  flex: 1.6;
}
.ourSkills .container .conten .image img {
}
.ourSkills .container .conten .skills {
  flex: 2;
}
@media screen and (width < 992px) {
  .ourSkills .container .conten {
  }
  .ourSkills .container .conten .image {
    display: none;
  }
  .ourSkills .container .conten .skills {
  }
}
.ourSkills .container .conten .skills .label {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0.5rem;
}
.ourSkills .container .conten .skills .label label {
  font-size: 18px;
  font-weight: bold;
}
.ourSkills .container .conten .skills .label span {
  border: 1px solid rgb(223, 222, 222);
  padding: 3px;
  border-radius: 3px;
  color: var(--main-color);
  font-size: 12px;
  font-weight: bold;
}
.ourSkills .container .conten .skills progress {
  /* accent-color: var(--main-color); */
  background-color: #e8e7e7;
  appearance: none;
  border: none;
  position: relative;
  width: 100%;
  height: 2rem;
}
::-moz-progress-bar {
  background-color: var(--main-color);
  width: 100%;
}

/* End Skills */

/* How It works */
.HowItWorks {
  background-color: var(--back-section);
  padding: 3rem 0 5rem;
  margin-top: 5rem;
}
.HowItWorks .container {
}
.HowItWorks .container .button {
  margin-bottom: 4rem !important;
  margin-top: 5rem !important;
}
.HowItWorks .container .button a {
}
.HowItWorks .container .conten {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 0rem 5rem;
}
.HowItWorks .container .conten .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HowItWorks .container .conten .image img {
  max-width: 100%;
  width: 435px;
}
@media screen and (width < 992px) {
  .HowItWorks .container .conten {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .HowItWorks .container .conten .image {
    margin-bottom: 2rem;
  }
  .HowItWorks .container .conten .image img {
  }
}
.HowItWorks .container .conten .boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.HowItWorks .container .conten .boxs .box {
  display: flex;
  background-color: #f6f5f5;
  padding: 2rem;
  margin: 0.7rem 0;
  height: 12rem;
}
.HowItWorks .container .conten .boxs .box .img {
  flex: 0.5;
  align-self: center;
}
.HowItWorks .container .conten .boxs .box .img img {
  max-width: 100%;
  width: 70%;
}
.HowItWorks .container .conten .boxs .box .text {
  flex: 2;
  align-self: center;
  line-height: 1.6;
}
.HowItWorks .container .conten .boxs .box .text h2 {
}
.HowItWorks .container .conten .boxs .box .text p {
}

@media screen and (width < 768px) {
  .HowItWorks .container .conten .boxs {
  }
  .HowItWorks .container .conten .boxs .box {
    display: block;
    height: 19rem;
  }
  .HowItWorks .container .conten .boxs .box .img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .HowItWorks .container .conten .boxs .box .img img {
    width: 60px;
  }
  .HowItWorks .container .conten .boxs .box .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.7;
  }
}
/* End how it works */

/* Start Latest Event */
.latestEvent {
}
.latestEvent .container {
}
.latestEvent .container .button {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}
.latestEvent .container .button a {
}
.latestEvent .container .parent_dots {
  position: relative;
}
.latestEvent .container .parent_dots .dots {
  display: block;
  width: 204px;
  height: 186px;
}
.latestEvent .container .parent_dots .dot_top {
  background-image: url(../img/dots.png);
  position: absolute;
  top: -31rem;
  right: 0;
}

.latestEvent .container .parent_dots .dot_down {
  background-image: url(../img/dots.png);
  position: absolute;
  top: -63px;
  left: 0px;
}
.latestEvent .container .events {
  display: flex;
  /* grid-template-columns: repeat(2, minmax(200px, 1fr)); */
  justify-content: center;
  align-items: center;
}

/* .latestEvent .container .events .image {
  display: flex;
  justify-content: center;
  flex: 1;
} */
.latestEvent .container .events img {
  /* max-width: 100%;
  width: 460px; */
  max-width: 100%;
  width: 450px;
}
@media screen and (width < 992px) {
  .latestEvent .container .events img {
    display: none;
  }
  .latestEvent .container .parent_dots .dot_top {
    top: -20rem;
  }
}
@media screen and (width < 768px) {
  .latestEvent .container .parent_dots .dot_down {
    top: 0rem;
  }
}
.latestEvent .container .events .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.8;
}

.latestEvent .container .events .info .times {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}
.latestEvent .container .events .info .times .time {
  border: 1px solid #b9b9b9;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}

.latestEvent .container .events .info .times .time .units {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latestEvent .container .events .info .times .time .up {
  flex: 2;
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
}
.latestEvent .container .events .info .times .time .up .day {
}
.latestEvent .container .events .info .times .time .up .hours {
}
.latestEvent .container .events .info .times .time .up .minute {
}
.latestEvent .container .events .info .times .time .up .second {
}
.latestEvent .container .events .info .times .time .down {
  border-top: 1px solid var(--back-section);
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  font-size: 16px;
}
.latestEvent .container .events .info h2 {
  margin-top: 1.9rem;
}
.latestEvent .container .events .info .title {
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
}
.latestEvent .container .events .info .des {
  line-height: 1.9;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 17px;
  color: #807b7b;
}

.latestEvent .container .subscribe {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5rem 0 7rem;
}
.latestEvent .container .subscribe form {
  /* position: absolute;
  top: 5rem; */
  width: 575px;
  display: flex;
  justify-content: center;
  background-color: #f9f4f4;
  padding: 26px;
  border-radius: 45px;
}
.latestEvent .container .subscribe form input {
  width: 330px;
  height: 60px;
  border-radius: 25px;
  outline: none;
  border: none;
  align-self: center;
  padding: 15px;
}
.latestEvent .container .subscribe form button {
  padding: 25px;
  border-radius: 35px;
  border: none;
  margin-left: 20px;
  background-color: var(--main-color);
  color: var(--white);
  cursor: pointer;
  transition: background ease-in 0.3s;
}
@media screen and (width < 768px) {
  .latestEvent .container .subscribe {
  }
  .latestEvent .container .subscribe form {
    border-radius: 0px;
    flex-direction: column;
  }
  .latestEvent .container .subscribe form input {
    border-radius: 0px;
    width: 100%;
  }
  .latestEvent .container .subscribe form button {
    border-radius: 0px;
    margin-left: 0px;
    margin-top: 10px;
  }
}

.latestEvent .container .subscribe form button:hover {
  background-color: #1c89e3;
}
/* End Latest Event */
/* Start pricing plans */
.pricing {
  background-color: var(--back-section);
}
.pricing .container {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.pricing .container .button {
  margin-bottom: 6rem !important;
}
.pricing .container .button a {
}
.pricing .container .all_pricing {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, minmax(360px, 1fr));
  grid-gap: 25px 25px;
}
.pricing .container .all_pricing .all_pricing_child {
  display: flex;
  flex-direction: column;
  height: 720px;
  background-color: white;
  -webkit-box-shadow: 0 5px 5px 0px rgba(159, 159, 159, 0.62);
  box-shadow: 0 5px 5px 0px rgba(159, 159, 159, 0.62);
}
.pricing .container .all_pricing .all_pricing_child.two {
  margin-top: -1.2rem;
}
.pricing .container .all_pricing .all_pricing_child .img {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}
.pricing .container .all_pricing .all_pricing_child .img .img_son {
  position: relative;
  width: 100%;
}
.pricing .container .all_pricing .all_pricing_child .img .img_son span {
  position: absolute;
  right: -2.3rem;
  transform: rotate(90deg);
  top: 52px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  /* width: 40%; */
  width: 145px;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  clip-path: polygon(
    100% 0%,
    90% 48.62%,
    100% 100%,
    44% 100.08%,
    0px 100%,
    0px 0px
  );
  padding: 0 5px;
}
@media screen and (width <1200px) {
  .pricing .container .all_pricing {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .pricing .container .all_pricing .all_pricing_child.two {
    margin-top: 0;
  }
  .pricing .container .all_pricing .all_pricing_child .img span {
    top: 72px;
  }
}
@media screen and (width < 992px) {
  .pricing .container .all_pricing .all_pricing_child .img span {
    top: 50px;
  }
}
@media screen and (width < 660px) {
  .pricing .container .all_pricing {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  /* .pricing .container .all_pricing .all_pricing_child .img span {
    top: 40px;
  } */
}
.pricing .container .all_pricing .all_pricing_child .img h3 {
  font-size: 23px;
  font-weight: bolder;
  padding: 25px 0;
}
.pricing .container .all_pricing .all_pricing_child .img img {
  max-width: 100%;
  width: 80px;
}
.pricing .container .all_pricing .all_pricing_child .img p:first-of-type {
  font-size: 3.6rem;
  color: var(--main-color);
  padding-top: 2rem;
  font-weight: bold;
}
.pricing .container .all_pricing .all_pricing_child .img p:nth-last-of-type(1) {
  color: #acacac;
  margin-bottom: 1rem;
}
.pricing .container .all_pricing .info {
}
.pricing .container .all_pricing .info .info_des {
  /* border-bottom: 1px solid #e8e4e4; */
  border-top: 1px solid #ebeaea;
  padding: 22px 15px;
  width: 100%;
}
.pricing .container .all_pricing .info i {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bolder;
}
.pricing .container .all_pricing .info span {
}
.pricing .container .all_pricing .butt {
  width: max-content;
  align-self: center;
  padding: 18px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--white);
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1.5rem;
  cursor: pointer;
}
/* End pricing plans */
/* Start top videos */
section.topvideos {
  /* height: 100vh; */
  margin: 7rem 0 11rem 0;
}
section.topvideos .container {
}
section.topvideos .container .button {
  /* margin-top: 4rem; */
}
section.topvideos .container .button a {
}
section.topvideos .container .top_videos {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'left img img img img'
    'left img img img img'
    'left img img img img'
    'left img img img img'
    'left text text text text';
  border: 1px solid #ccc;
  margin-top: 4rem;
}
@media screen and (width < 992px) {
  section.topvideos .container .top_videos {
    display: flow-root;
  }
}
section.topvideos .container .top_videos .div1 {
  /* grid-area: 1\1\10\2; */
  grid-area: left;
  border-right: 1px solid #ccc;
}
section.topvideos .container .top_videos .div1 .title_video:first-child {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  font-weight: bold;
  background-color: #f4f3f3;
  border-top: none;
}
section.topvideos .container .top_videos .div1 .title_video {
  /* padding: 15px; */
  border-top: 1px solid #ccc;
}
section.topvideos .container .top_videos .div1 .title_video:hover {
  background-color: #f4f3f3;
  transition: all ease-in-out 0.3s;
}
section.topvideos .container .top_videos .div1 .title_video a {
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 15px;
  color: black;
}
section.topvideos .container .top_videos .div1 .title_video:hover a {
  color: var(--main-color);
  transition: all ease-in-out 0.3s;
}
section.topvideos .container .top_videos .div1 .title_video span {
  color: #9d9c9c;
  padding: 10px 0;
  display: inline-block;
}
section.topvideos .container .top_videos .div2 {
  /* grid-area: 1\2\10\6; */
}
section.topvideos .container .top_videos .div3 {
  /* grid-area: 1\2\9\6; */
  /* grid-area: text; */
  grid-area: img;
  background-color: var(--back-section);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.topvideos .container .top_videos .div3 img {
  max-width: 100%;
  width: 836px;
}
section.topvideos .container .top_videos .div3 .div4 {
  /* grid-area: 9\2\10\6; */
  /* grid-area: text; */
  background-color: var(--white);
  padding: 20px;
}
@media screen and (width < 992px) {
  section.topvideos .container .top_videos .div3 .div4 {
    margin-top: 1rem;
  }
}

/* End top videos */
/* Start our awesome state */
section.awesomeState {
  background-color: rgb(242, 242, 242);
  /* height: 70vh; */
  padding-top: 5rem;
}
section.awesomeState .title {
  display: flex;
  justify-content: center;
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 2rem;
}
section.awesomeState .title p {
}
section.awesomeState .boxs {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 18px;
}
@media screen and (width < 1200px) {
  /* section.awesomeState {
    height: 90vh;
  } */
  section.awesomeState .boxs {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media screen and (width < 992px) {
  section.awesomeState .boxs {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media screen and (width < 550px) {
  section.awesomeState .boxs {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
section.awesomeState .boxs .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 11rem;
}
section.awesomeState .boxs .box .image {
}
section.awesomeState .boxs .box .image i {
  font-size: 40px;
}
section.awesomeState .boxs .box .big-font {
  font-size: 2.7rem;
  font-weight: bold;
  padding: 5px 0;
}
section.awesomeState .boxs .box .small-font {
  font-size: 19px;
  font-weight: bold;
  color: var(--main-color);
}
/* End our awesome state */
